body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url("../img/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.inner-page {
    color: #000000;

    background-color: #f9f6f3;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}

.price {
    font-size: 14px;
    line-height: 18px;
    background-color: #f9f6f3;
}


.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    background-color: #000000;
}

.site-navigation a,
.user-navigation a{
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.features-list {
    list-style: none;
}

.features-item {
    text-align: center;
}

.features-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.index-columns {
    color: #000000;

    background-color: #f8f5f2;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news-list {
    list-style: none;
}

.news-item time {
    text-transform: none;
}

.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.appointment-item input {
    font: inherit;
    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-item input:focus {
    border-color: #663d15;
}

.main-footer {
    color: #ffffff;

    background-color: #212121;
    background-image: url("img/pattern-dark.jpg");
    background-position: 0 0;
    background-repeat: repeat;

}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;

    background-color: #ffffff;
}

.modal {
    color: #000000;

    background-color: #f8f3f0;
    background-image: url("img/pattern-light.jpg");
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}


.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}


.catalog-nav {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #000000;
}
.catalog-nav h1 {
    font-size: 30px;
    line-height: 42px;
    
}

.breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    padding: 0 16px;
}

.breadcrumb a {
    color: inherit;
}

.breadcrumb a.active {
    color: #aba9a7;
}

.filter-column h2{
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.filter-column p {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.filter-column .button {
    font-size: 13px;
    line-height: 18px;
}

.product-list-column p {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

.product-list-column .button {
    font-size: 14px;
    line-height: 18px;
}

.product-list-column .price {
    font-size: 14px;
    line-height: 18px;
    background-color: #f9f6f3;
}

.catalog-product {
    background-color: #ffffff;
}

.catalog-product figure{
    margin:0;
}


.pagination ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
 
.pagination .button {
    font-size: 14px;
    line-height: 18px;
}

.pagination li {
    display: inline-block;
}

.item-photos figure {
    background-color: #ffffff;
    margin: 0;
}

.item-photos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-photos li {
    display: inline-block;
}
.description .brand {
    color: #aba9a7;
    text-align: right;
}

.product-list h2 {
    font-size: 24px;
    line-height: 30px;
}

.product-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*------Сеточные стили------*/

html,
body {
    min-width: 1122;
    min-height: 1750px;
}

body {
    /*Временно для сетки*/
    
    background-size: 1372px auto;
    background-repeat: no-repeat;

}

.iner-page {

    /*Временно для сетки*/
    
    background-size: 1200px;
    background-position: top center;
    background-repeat: no-repeat; 
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    margin-bottom: 75px;
    background-color: #000000;

    /*Временно для сетки*/
    min-height: 285px;
}

.inner-page .main-header {
    margin-bottom: 50px;
    /*Временно для сетки*/
    min-height: 70px;


}
.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Временно для сетки*/
    min-height: 285px;
    background-colot: transparent;
}

.inner-page .main-navigation {
    align-items: flex-start;
    flex-direction: row;

    /*Временно для сетки*/
    min-height: 70px;

}

.main-header-logo {
    width: 368px;
    height: 153px;
    order: 2;
}

.inner-page .main-header-logo {
    order: 0;
    width: 111px;
    height: 24px;
    padding: 23px 20px;

}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;

    background-color: #000000;

}



.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}


.site-navigation,
.user-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
}

.user-navigation {
    display: flex;
     width: 140px;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
}

.login-link::before {
    position: absolute;
    top: 27px;
    left: 24px;
    content: "";
    width: 16px;
    height: 18px;
    
    background-image: url(img/login1.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;
    vertical-align: middle;
}
.inner-page .user-navigation {
    margin-left: auto;
}

.features {
    margin-bottom: 80px;
}
.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;

    /*Временно для сетки*/
    min-height: 170px;
}

.features-item {
    width: 300px;
    
    /*Временно для сетки*/
    min-height: 170px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;

    /*Временно для сетки*/
    

}

.news {
    width: 380px;
    /*Временно для сетки*/
    min-height: 315px;
}

.gallery {
    width: 300px;
    /*Временно для сетки*/
    min-height: 315px;
}

.contacts {
    width: 380px;
    /*Временно для сетки*/
    min-height: 295px;
}

.appointment {
    width: 300px;
    /*Временно для сетки*/
    min-height: 340px;
}

.page-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    /*Временно для сетки*/
    min-height: 42px;

}

.filters {
    width: 180px;
    /*Временно для сетки*/
    min-height: 687px;

}

.catalog {
    width: 700px;

    /*Временно для сетки*/
    min-height: 687px;
}
.breadcrumb {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    /*Временно для сетки*/
    min-height: 24px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 25px;
}
.catalog-item {
    
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    /*Временно для сетки*/
    min-height: 285px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.pagination-list {
    padding: 0;
    margin: 0;
    list-style: none;
    /*Временно для сетки*/
    min-height: 47px;

}
.inner-page .main-footer {
    margin-top: 45px;
    padding: 60px 0;
    margin-top: 65px;
    /*Временно для сетки*/
    
    min-height: 180px;
}

.product-photos {
    width: 460px;
    /*Временно для сетки*/

    min-height: 677px;
}

.product-photos ul {
    list-style: none;
}

.product-info {
    width: 390px;
    /*Временно для сетки*/

    min-height: 667px;
}
.main-footer .container {
    display: flex;
}

.footer-contacts {
    width: 320px;
    margin:0;
    margin-right: 80px;
    /*Временно для сетки*/
    min-height: 100px;
}

.footer-social {
    width: 145px;
    /*Временно для сетки*/
    min-height: 100px;
}

.footer-copyright {
    width: 150px;
    margin:0;
    margin-left: auto;
    /*Временно для сетки*/
    min-height: 100px;
}




